* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    padding: 2.5rem;
    margin: 12px;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    color: rgb(92, 90, 90);
}

.plan h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.plan .price {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.plan ul.details {
    list-style-type: none;
    text-align: left;
}

.plan ul.details li {
    margin: 8px;
}

.plan li .fa-check {
    color: #6ab04c;
}

.plan li .fa-times{
    color: #eb4d4b;
}

.plan a {
    display: block;
    margin-top: 1.5rem;
    padding: 11px 32px;
    color: white;
    background-color: #3e672d;
    border-radius: 8px;
    font-size: 1.1rem;
    text-decoration: none;
}

.plan.top {
    border: 2px solid #6ab04c;
}

.listing-badges {
    position: relative;
}

.plan.top span {
    padding: 4px;
    color: white;
    font-size: 1.1rem;
    position: absolute;
    background-color: #6ab04c;
    width: 145px;
    left: -74px;
    top: -20px;
    transform: rotate(-45deg);
}

.plan .fas {
    margin-right: 5px;
}

.plan:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.15s;
    box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.307)
}

#navbar {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-bottom: none ;
    margin-bottom: 50px;

}

#navbar ul {
    display: flex;
    margin: 10px 0 10px auto;
    width: 30%;
    justify-content: space-evenly;
    list-style: none;
}

#navbar ul li a {
    margin-left: 3px;
    color: black;
    opacity: 0.5;
    font-size: 1.2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.15s;
}

#intro {
    color: rgb(92, 90, 90);
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.3rem;
}

#navbar ul li i {
    margin-right: 10px;
}


@media (max-width: 1200px){
    #navbar ul {
        width: 35%;
    }
 }
 
 @media (max-width: 1000px){
     #navbar ul {
         width: 45%;
     }
 }
 
 @media (max-width: 750px){
     #navbar ul {
         width: 75%;
     }
 }
 
 @media (max-width: 650px){
     #navbar ul {
         width: 85%;
     }
 }
 
 @media (max-width: 500px){
     #navbar ul {
         width: 100%;
     }
 }